* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    width: 1000px;
    height: 1000px;
    background: red;
    margin: 0 auto;
    padding: 15px;
}
.center {
    width: 750px;
    height: 980px;
    background: deeppink;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
}
.child {
    width: 720px;
    height: 110px;
    background: greenyellow;
    display: flex;
    flex-shrink: 0;
}
.center_1 {
    display: flex;
    flex-direction: row;
}
.menu {
    width: 110px;
    height: 110px;
    background: cornflowerblue;
    margin: 0;
    padding: 5px;
}
.header {
    width: 440px;
    height: 20px;
    background: blue;
    margin-bottom: auto;
    margin-right: auto;
}
.center_3 {
    width:570px;
    height: 30px;
    background: yellow;
    margin-top: auto;
    margin-bottom: auto;
}
.footer {
    width: 220px;
    height: 20px;
    background: green;
    margin-top: auto;
}